#common-loading {
    border: 1px solid;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#common-loading > .spinner-border, #common-loading > .spinner-grow {
    position: relative;
    margin: auto;
    top: calc(30% - (100px / 2));
    left: calc(50% - (100px / 2));
    width: 100px;
    height: 100px;
}