<th:block th:fragment="footer" xmlns:th="http://www.thymeleaf.org" >
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 text-white">
                    이메일: whthdi4693@naver.com <br/>
                    전화번호: 010-4693-8128
                </div>
                <div class="col-md-6">
                    <!--<div class="text-md-right footer-links d-none d-md-block">
                        <a href="javascript: void(0);"></a>
                        <a href="javascript: void(0);">Support</a>
                        <a href="javascript: void(0);">Contact Us</a>
                    </div>-->
                </div>
            </div>
        </div>
    </footer>
</th:block>